body {
  margin: 0;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-areas: 'header' 'main';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

#header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
}

#main-bar {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

#header h1 {
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  margin-inline-end: 50px;
}

#caller-id-form {
  margin: 0;
}

#caller-id-form fieldset {
  all: initial;
  display: flex !important;
  align-items: center !important;
  gap: 8px;
}

#ccp-container {
  grid-area: main;
  position: relative;
  height: 100%;
}

#ccp-container > iframe {
  position: absolute;
  border: none;
}
